<!doctype html>
<html lang="en">

{{>header}}

<body>
    <!-- Navbar -->
    {{>navbar}}

    <!-- Header -->

    <div class=".container-fluid header-part">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-6 col-12 header-part-left">
                        <figure>
                            <img src="./images/my.png" alt="rishabh" class="img-fluid" title="author">
                        </figure>
                    </div>
                    <!-- Right side div -->
                    <div class="col-md-6 col-12 header-part-right">
                        <p>Welcome</p>
                        <h1>I am a  <span class="clr">Full Stack Developer</span> And Try to Learn New Things</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    {{>scripts}}

</body>

</html>