@import "./navbar.css";
@import "./footer.css";

/* Header */

.header figure img{
    width: 112rem;
    height: 64rem;
    margin-top: 5rem;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.header button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 1.8rem;
    text-transform: uppercase;
    color: #0097e6;
    box-shadow: 0 8px 0 -6px #000;
}

.header button:hover{

    color: #fff;
    background-color: #000;
}

@media (max-width:768px){

    .img-fluid {
        max-width: 104%;
        max-height: 26rem;
    }
}